@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap');
html{
    --main-dark: #000010;
    --main-light: #cacac8;
    --white: #ffffff;
    --main-right: #f73149;
    --main-line: #b6846b;
    --right-ruler: 7rem;
    --top-ruler: 4rem;
    --clamp: clamp(1rem, -0.875rem + 8.333333vw, 3.5rem);
    --clamp-paragraph: clamp(1rem, -0.875rem + 8.333333vw, 2.5rem);
}
*{
    margin: 0;
}
::selection{
    background-color: var(--white);
    color: var(--main-right);
}
a{
    text-decoration: none;
    color: var(--main-dark);
    color: var(--main-right);
}
ul{
    list-style: none;
    padding-inline-start: 20px;
}
li{
    margin-block-start: 13px;
}
p{
    margin-block-start: 5px;
}
p::first-letter{
    text-transform: capitalize;
}
header.main-header{
    min-height: 377px;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-clip: padding-box;
    /* background-image:  url('../img/ai/pixlr-image-generator-18e504bd-46c3-49e4-8282-cc563ea23af6.png');  */
    background-image:
    linear-gradient(to top, rgba(245, 246, 252, 0.32) 30%, #ffffff),
    url('../img/ai/pixlr-image-generator-18e504bd-46c3-49e4-8282-cc563ea23af6.png');
    /* background-position: top; */
    /* background-color: var(--white); */
    
    color: var(--main-dark);
}
header{
    padding-inline-start: var(--clamp);
    padding-block: var(--top-ruler);
}
header h1, header h2{
    font-family: monospace;
}
header h1{
    font-size: var(--clamp);
}
header h2{
    font-size: var(--clamp-paragraph);
}
header section p{
    font-family: 'Edu SA Beginner', monospace;
    font-size: var(--clamp-paragraph);
    margin-inline-start: 55px;
}
/* .parallel-programs div{
    background-color: var(--main-line);
    padding: 8px 13px;
    border-radius: 5px;
} */
.parallel-programs div a{
    background-color: var(--main-line);
    padding: 8px 13px;
    border-radius: 5px;
    color: var(--white);
}
/* .parallel-programs div:hover{
    background-color: yellow;
    color: var(--main-dark);
} */
.parallel-programs div a:hover{
    background-color: yellow;
    color: var(--main-dark);
}
main{
    border-top: 3px solid var(--main-dark);
    padding-top: 21px;
    /* margin-block-start: 35px; */
    /*display: grid;
     grid-template-columns: 1fr 4fr; 
     margin-inline-start: var(--right-ruler);
    margin-block-start: var(--top-ruler); 

    @media (max-width: 1024px) {
        grid-template-columns: 1fr 2fr; 
    }
    
    @media (max-width: 600px) {
    grid-template-columns: 1fr; 
    } */
}
nav.navigation-bar{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    /* padding: 2rem; */
    font-family: 'Inconsolata';
    font-weight: 300;

    /* @media (max-width: 600px) {
        display: block;
    } */
}
main nav div.class{
    /* font-family: monospace; */
    font-size: 2rem;
    padding: 15px 21px;
    background-color: var(--white);
    /* border-bottom: 2px solid var(--main-light); */
    margin-block-end: 21px;
    border: 1px solid transparent;
    border-radius: 7px;
    flex: 1;
}
/* main nav div.class:not(:first-child){
    margin-inline-start: 10px;
} */
main nav div.class:hover{
    border: 1px solid var(--main-dark);
}
main nav div.class.active{
    /* font-weight: 400; */
    border: 1px solid var(--main-dark);
}
main .content-container{
    /* border: 1px solid var(--main-light); */
    margin-inline: 55px;
    padding: 21px;
    box-shadow: 0 0 13px var(--main-light);
    @media (max-width: 700px) {
        margin-inline: 5px;
        padding: 3px;
    }
}
article{
    background-color: var(--main-light);
}
footer{
    height: 377px;
    margin-block-start: var(--top-ruler);
    border-top: 3px solid var(--main-dark)
}
footer p{
    text-align: center;
}